# Importo librerie

In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# caricamento csv e visualizzazione dei dati

In [2]:
test = pd.read_csv('../Desktop/test.csv')

In [3]:
train= pd.read_csv('../Desktop/train.csv')

In [4]:
test

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,1.167239e+11,5778236,M,2016-06-06T15:14:21Z,2016-06-08T00:00:00Z,9,INHANGUETÁ,0,0,0,0,0,0,No
1,2.375498e+13,5739813,M,2016-05-25T14:10:29Z,2016-05-30T00:00:00Z,50,ANDORINHAS,0,0,1,0,0,1,No
2,9.435712e+10,5683899,F,2016-05-11T08:00:20Z,2016-05-11T00:00:00Z,69,JARDIM CAMBURI,0,0,0,0,0,0,No
3,8.277442e+13,5688382,F,2016-05-12T07:19:39Z,2016-05-16T00:00:00Z,22,FORTE SÃO JOÃO,0,0,0,0,0,0,No
4,1.812426e+14,5707554,F,2016-05-17T09:47:04Z,2016-05-17T00:00:00Z,1,REDENÇÃO,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22101,5.536134e+14,5645162,F,2016-05-02T09:33:04Z,2016-05-18T00:00:00Z,9,DO MOSCOSO,0,0,0,0,0,0,No
22102,8.873752e+14,5697393,F,2016-05-13T15:43:41Z,2016-05-20T00:00:00Z,6,CRUZAMENTO,0,0,0,0,0,0,No
22103,2.948428e+14,5622058,F,2016-04-26T11:16:09Z,2016-05-04T00:00:00Z,50,JARDIM CAMBURI,0,0,0,0,0,1,No
22104,8.622669e+13,5717386,M,2016-05-19T07:54:32Z,2016-05-19T00:00:00Z,15,JARDIM CAMBURI,0,0,0,0,0,0,No
22105,1.246589e+13,5723664,M,2016-05-20T08:29:12Z,2016-05-20T00:00:00Z,58,ITARARÉ,0,0,0,1,0,0,No

In [5]:
train

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.247937e+12,5587761,F,2016-04-15T09:03:51Z,2016-05-18T00:00:00Z,29,SANTA MARTHA,0,0,0,0,0,0,Yes
1,7.894582e+11,5774796,F,2016-06-06T08:41:45Z,2016-06-06T00:00:00Z,5,JOANA D´ARC,0,0,0,0,0,0,No
2,3.967220e+14,5605217,M,2016-04-20T08:44:47Z,2016-05-10T00:00:00Z,64,JARDIM DA PENHA,0,0,0,0,0,1,No
3,6.663786e+14,5720245,F,2016-05-19T13:31:38Z,2016-05-19T00:00:00Z,66,PRAIA DO CANTO,0,1,0,0,0,0,No
4,1.835776e+12,5742007,M,2016-05-30T07:38:58Z,2016-05-30T00:00:00Z,72,RESISTÊNCIA,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66310,7.868846e+12,5721432,F,2016-05-19T16:26:59Z,2016-06-02T00:00:00Z,11,SANTOS DUMONT,0,0,0,0,0,1,No
66311,7.711876e+13,5607080,M,2016-04-20T11:03:44Z,2016-05-11T00:00:00Z,50,TABUAZEIRO,0,1,1,0,0,1,No
66312,6.293825e+14,5758142,F,2016-06-01T10:19:43Z,2016-06-01T00:00:00Z,42,ANDORINHAS,0,0,0,0,0,0,No
66313,3.824988e+12,5579699,M,2016-04-13T15:26:38Z,2016-05-05T00:00:00Z,13,BELA VISTA,0,0,0,0,0,1,Yes
66314,5.899838e+12,5693376,M,2016-05-13T07:10:57Z,2016-05-13T00:00:00Z,12,JESUS DE NAZARETH,0,0,0,0,0,0,No

In [6]:
test.dtypes

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
No-show            object
dtype: object

In [7]:
train.dtypes

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
No-show            object
dtype: object

In [8]:
train.AppointmentDay

0        2016-05-18T00:00:00Z
1        2016-06-06T00:00:00Z
2        2016-05-10T00:00:00Z
3        2016-05-19T00:00:00Z
4        2016-05-30T00:00:00Z
                 ...
66310    2016-06-02T00:00:00Z
66311    2016-05-11T00:00:00Z
66312    2016-06-01T00:00:00Z
66313    2016-05-05T00:00:00Z
66314    2016-05-13T00:00:00Z
Name: AppointmentDay, Length: 66315, dtype: object

In [9]:
train.ScheduledDay

0        2016-04-15T09:03:51Z
1        2016-06-06T08:41:45Z
2        2016-04-20T08:44:47Z
3        2016-05-19T13:31:38Z
4        2016-05-30T07:38:58Z
                 ...
66310    2016-05-19T16:26:59Z
66311    2016-04-20T11:03:44Z
66312    2016-06-01T10:19:43Z
66313    2016-04-13T15:26:38Z
66314    2016-05-13T07:10:57Z
Name: ScheduledDay, Length: 66315, dtype: object

# Sistemazione colonne con date

Le date nelle colonne AppointmentDay e ScheduledDay sono scritte in forma ISO 8601. Dunque uso queste funzioni per cambiare il tipo in datetime prestando attenzione anche al fuso orario, 'UTC'.

In [10]:
#per i dati nella colonna AppointmentDay, accedo solo alla data in quanto l'ora non è presente.

train['AppointmentDay'] = pd.to_datetime(train['AppointmentDay']).dt.date.astype('datetime64[ns]')
test['AppointmentDay'] = pd.to_datetime(test['AppointmentDay']).dt.date.astype('datetime64[ns]')

In [11]:
#per i dati nella colonna ScheduledDay, accedo sia alla data che all'ora in quanto quest'ultima è presente.

train['ScheduledDay']=pd.to_datetime(train['ScheduledDay'])
test['ScheduledDay']=pd.to_datetime(test['ScheduledDay'])

In [12]:
train ['AppointmentDay']

0       2016-05-18
1       2016-06-06
2       2016-05-10
3       2016-05-19
4       2016-05-30
           ...
66310   2016-06-02
66311   2016-05-11
66312   2016-06-01
66313   2016-05-05
66314   2016-05-13
Name: AppointmentDay, Length: 66315, dtype: datetime64[ns]

In [13]:
train['ScheduledDay']

0       2016-04-15 09:03:51+00:00
1       2016-06-06 08:41:45+00:00
2       2016-04-20 08:44:47+00:00
3       2016-05-19 13:31:38+00:00
4       2016-05-30 07:38:58+00:00
                   ...
66310   2016-05-19 16:26:59+00:00
66311   2016-04-20 11:03:44+00:00
66312   2016-06-01 10:19:43+00:00
66313   2016-04-13 15:26:38+00:00
66314   2016-05-13 07:10:57+00:00
Name: ScheduledDay, Length: 66315, dtype: datetime64[ns, UTC]

In [14]:
#tolgo il fuso orario risultante nell'ora locale per i dati della colonna ScheduledDay

test['ScheduledDay']= test['ScheduledDay'].dt.tz_convert(None)
train['ScheduledDay']= train['ScheduledDay'].dt.tz_convert(None)

In [15]:
train['ScheduledDay']

0       2016-04-15 09:03:51
1       2016-06-06 08:41:45
2       2016-04-20 08:44:47
3       2016-05-19 13:31:38
4       2016-05-30 07:38:58
                ...
66310   2016-05-19 16:26:59
66311   2016-04-20 11:03:44
66312   2016-06-01 10:19:43
66313   2016-04-13 15:26:38
66314   2016-05-13 07:10:57
Name: ScheduledDay, Length: 66315, dtype: datetime64[ns]

In [16]:
train.dtypes

PatientId                float64
AppointmentID              int64
Gender                    object
ScheduledDay      datetime64[ns]
AppointmentDay    datetime64[ns]
Age                        int64
Neighbourhood             object
Scholarship                int64
Hipertension               int64
Diabetes                   int64
Alcoholism                 int64
Handcap                    int64
SMS_received               int64
No-show                   object
dtype: object

In [17]:
test.dtypes

PatientId                float64
AppointmentID              int64
Gender                    object
ScheduledDay      datetime64[ns]
AppointmentDay    datetime64[ns]
Age                        int64
Neighbourhood             object
Scholarship                int64
Hipertension               int64
Diabetes                   int64
Alcoholism                 int64
Handcap                    int64
SMS_received               int64
No-show                   object
dtype: object

# Pipeline

Come suggerito ho usato una pipeline che consentisse il trattamento dei dati, effettuando a cascate delle operazioni, è un modo semplice per mantenere organizzati i codici di preelaborazione.
Queste operazioni si identificano in generale nel preprocessamento dei dati, nella selezione delle features più pertinenti(vedi la funzone usata SelectFromModel) e nel modello richiamato per la predizione.

In [18]:
# Rimozione delle righe con il target mancante e separazione del target dalle altre features
train.dropna(axis=0, subset=['No-show'], inplace=True)
y_train = train['No-show']
X_train = train.drop(['No-show'], axis=1).copy()

test.dropna(axis=0, subset=['No-show'], inplace=True)
y_valid = test['No-show']
X_valid = test.drop(['No-show'], axis=1).copy()

# selezioni colonne di tipo object
categorical_cols = [cname for cname in X_train.columns if
                   X_train[cname].dtype == "object"]

# selezioni colonne di tipo int64 e float64
numerical_cols = [cname for cname in X_train.columns if 
                  X_train[cname].dtype in ['int64', 'float64']]

# selezioni colonne di tipo dataTime
dataTime_cols = [cname for cname in X_train.columns if 
                X_train[cname].dtype == "datetime64[ns]"]

In [19]:
categorical_cols

['Gender', 'Neighbourhood']

In [20]:
numerical_cols

['PatientId',
 'AppointmentID',
 'Age',
 'Scholarship',
 'Hipertension',
 'Diabetes',
 'Alcoholism',
 'Handcap',
 'SMS_received']

In [21]:
dataTime_cols

['ScheduledDay', 'AppointmentDay']

In [22]:
#per il preprocessamento dei dati ho scelto di usare: 
  
    #OneHotEncoder, una codifica usata principalmente quando i dati non sono ordinabili. Prende una colonna che ha dati 
#categorici, la quale è stata codificata con un'etichetta, divide la colonna in più colonne e i valori sono sostituiti a 1 e 0,
#a seconda di quale colonna ha qual valore. Ho preferito utilizzare questo approccio in quanto ho usato una pipeline.
 
    #SimpleImputer è un imputatore per i valori mancanti, per le variabili categoriche come suggerito da sklearn è in base 
#al valore  più frequente, per i numerical e dataTime ho scelto la media dei valori.


#preprocessamento dei dati numerici
numerical_transformer = Pipeline(steps=[
   ('imputer', SimpleImputer(strategy='mean', missing_values=np.nan))
])

#preprocessamento dei dati categorici
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent', missing_values=np.nan )),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
]) 

#preprocessamento dei dati dataTime
dataTime_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean', missing_values=np.nan)),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
 ]) 

# Preelaborazione per dati numerici, categorici e dataTime
preprocessor = ColumnTransformer(
    transformers=[
       ('num', numerical_transformer, numerical_cols),
       ('cat', categorical_transformer, categorical_cols),
       ('data', dataTime_transformer, dataTime_cols)
    ])

In [23]:
#Definisco modello

model = LogisticRegression(max_iter = 1000 )

In [24]:
#Raggruppare il codice di pre-elaborazione e modellazione in una pipeline

#SelectFromModel: individua e si tiene le features la cui importanza è maggiore o uguale e le altre vengono scartate

pipeline = Pipeline(steps=[   ('preprocessor', preprocessor),
                              ('feature_selection', SelectFromModel(model)),
                              ('model', model)
                          ])

# Allenamento dati di preelaborazione 
pipeline.fit(X_train, y_train)

# Processo di validazione dei dati, predizione
preds = pipeline.predict(X_valid)

# Calcolo accuracy

In [25]:
accuracy=accuracy_score(preds, y_valid)*100
accuracy

80.19542205735999